{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
   
    <title>Dennismurage</title>
  </head>
<body>
  <nav class="navbar navbar-light bg-light px-3 ">
    <a class="navbar-brand" href="#">Murage.dev</a>
    <ul class="nav nav-pills">
      
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">
          {% comment %} <img width="32" height="32" src="https://img.icons8.com/fluency/48/reggae.png" alt="reggae"/> {% endcomment %}
          HOME
          {% comment %} <img width="32" height="32" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/32/external-rasta-music-flaticons-lineal-color-flat-icons.png" alt="external-rasta-music-flaticons-lineal-color-flat-icons"/> {% endcomment %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">
          {% comment %} <img width="32" height="32" src="https://img.icons8.com/doodle/48/business.png" alt="business"/> {% endcomment %}
          WORK
        
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading3">
          {% comment %} <img width="32" height="32" src="https://img.icons8.com/external-wanicon-flat-wanicon/64/external-mail-user-interface-wanicon-flat-wanicon.png" alt="external-mail-user-interface-wanicon-flat-wanicon"/> {% endcomment %}
          CONTACT
        
        </a>
      </li>
    </ul>
  </nav>
 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
    {% block content %}
    {% endblock content %}
  
</body>
</html>